.main {
    height: 100vh;
    weight: 100vw;
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 13%, rgba(0,212,255,1) 63%, rgba(0,36,35,1) 96%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  
  .input {
    position: absolute;
    top: 20px;
    color: white;
    font-weight: bold;
    background: transparent;
    outline: none;
    border: none;
    height: 30px;
    font-size: 25px;
    padding: 5px 20px;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    border-bottom: 4px solid black;
  }

  .add {
    position: absolute;
    transform: scale(2);
    top: 27px;
    right: 470px;
    cursor: pointer;
  }
  
  .task {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
  }
  
  .task > h1 {
    width: 500px;
    background-color: rgb(211, 211, 211);
    padding: 5px 10px;
  }
  
  .edit,
  .delete, .complete {
    cursor: pointer;
    margin-left: 10px;
  }
  
  .signout {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 10px;
    border-radius: 100px;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    color: white;
  }

  .line {
    text-decoration: line-through;
  }

  .confirm {
    position: absolute;
    transform: scale(2);
    top: 30px;
    right: 400px;
    cursor: pointer;
  }

  .recycleb {
    /* font-size: large; */
    cursor: pointer;
    top: 600px;
    right: 1300px;
    position: absolute;
  }